
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.otp_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilelabel_2 */
.otp_mobilelabel_2 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 24px;
	margin: 100px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilefooter */
.otp_mobilefooter {
	min-height:38px;
}